@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}
body{
  background-color: rgb(75, 75, 75);

}

.card{
  
  background:linear-gradient(to right,#7bd5f5,#4ADEDE,#1ca7ec) ;
  margin: 20px  auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  max-width: 470px;
  color: #ebfffc;

}
.search{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #5555;
  padding: 10px 25 px;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
 
}
.search button{
  border: 0;
  outline: 0;
  padding: 5px;
  background: #ebfffc;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.weather-icon{
  width: 150PX;
  margin-top: 20PX;
  text-align: center;
  justify-content: center;
}

.weather-icon h1{
  font-size: 80px;
  font-weight: 500;
  color: rgb(82, 79, 79);
}
.weather-icon h2{
  font-size: 35px;
  font-weight: 400;
  color: rgb(82, 79, 79);
  margin-top: -10px;
}
.details{
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
  
}
.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,.speed{
  font-size: 20px;
  margin-top: -6px;
  color:rgb(82, 79, 79);
}
.err{
  font-family: 'Poppins';
  font-size:xx-large;
  font-weight: 100;
  color: red;
  display:none;
  margin: 20px
;}

@media ( max-width :320px){
  .card{
    margin: 10px;
    padding: 20px 15px;

  }
  .weather-icon h1 {
    font-size: 60px; /* Reduce font size for smaller screens */
  }

  .weather-icon h2 {
    font-size: 28px;
  }

  .details {
    flex-direction: column; /* Stack details vertically */
    align-items: center;
    margin-top: 20px;
  }

  .col {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }
}

@media ( max-width :375px){
  .card{
    margin: 10px;
    padding: 20px 15px;

  }
  .weather-icon h1 {
    font-size: 60px; /* Reduce font size for smaller screens */
  }

  .weather-icon h2 {
    font-size: 28px;
  }

  .details {
    flex-direction: column; /* Stack details vertically */
    align-items: center;
    margin-top: 20px;
  }

  .col {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }
}
@media ( max-width :425px){
  .card{
    margin: 10px;
    padding: 20px 15px;

  }
  .weather-icon h1 {
    font-size: 60px; /* Reduce font size for smaller screens */
  }

  .weather-icon h2 {
    font-size: 28px;
  }

  .details {
    flex-direction: column; /* Stack details vertically */
    align-items: center;
    margin-top: 20px;
  }

  .col {
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }
  .search input{
    width:80% ;
  
  }
}

.dancing-script {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
      color:#11648d;
      font-size:larger;
      text-align: end;
    
      margin-top: 40px;
      margin-bottom: 5px;
    }